/data/pdf_data/
/data/text_data/
/POS important info.jpg
/data_dash/data_dash_pdf/
/data_dash/data_dash_text/
/venv_biofuel/
/pos.csv
/merge_pdf.py
/pdf_to_doc.py
/pdf_to_docx.py
/How To Invest In Stocks For Beginners.pdf
/sql_bsp.py
